.row{
	height: 150rem;
}
/*define o tamanho da navbar, largura e margem esquerda*/
.navbar {
	width: 17.1rem;
	margin-left: 4rem;
	height: 50rem;
	background-color: #bd5d38;
}
img	{
	width: 12rem;
	border: .5rem solid rgba(255,255,255,.2);
}
/*alinhamento da brand e botoes*/
#conteudo {
	margin-bottom: 18rem;
	margin-left: 1.8rem;
}
/*Formatação do texto*/
#navbody {
	text-align: center;
	margin-right: 20px;
	margin-top: 20px;
	font-weight: 700;
	font-size: 18px;
}
#texto {
	margin-top: 7rem;
}
h1	{
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	color: #343a40;
	margin-left: 30px;
}
span {
	color: #bd5d38;
}

#contato {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	color: gray;
	margin-left: 35px;
}
#email:hover {
	text-decoration: underline;
}
p	{
	color: gray;
	font-size: 20px;
	margin-left: 35px;
}
hr	{
	margin-top: 13rem;
}
#hr2 {
	margin-top: 27rem;
}
h2	{
	padding-top: 30px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	margin-left: 30px;
}
#data {
	color: #bd5d38;
	padding-left: 12rem;
	font-size: 20px;
}
h3	{
	margin-left: 35px;

}
.socialicons a {
    margin-right: 1rem;
    background-color: #495057;
    font-size: 1.5rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    border-radius: 100%;
    color: white;
}

.socialicons a:hover {
	background-color: #bd5d38;
}

.socialicons {
	margin-left: 35px;
    margin-top: 3rem;
}

.slides {
	width: 45rem;
	margin-left: 9rem;
	margin-top: 3rem;
}
html {
  scroll-behavior: smooth;
}


